<form action="/favourites" method="POST">
  <button type="submit" class="bg-red-500 p-2 rounded-md text-white font-medium hover:bg-red-700 transition">Add to Favorites</button>
  <input type="hidden" name="id" value="<%= home._id %>">
</form>