<header class="bg-red-500 text-white p-4 shadow-md">
  <nav class="container mx-auto flex justify-between items-center">
    <ul class="flex space-x-3">
      <li>
        <a
          href="/"
          class="hover:bg-red-400 py-2 px-2 rounded transition duration-300"
          ><i class="fa-brands fa-airbnb" style="color: #ffffff;"></i></a
        >
      </li>
      <% if(isLoggedIn) { %>
        <% if(user && user.userType === 'guest') { %>
          <li>
            <a
              href="/homes"
              class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
              >Home-List</a
            >
          </li>

          <li>
            <a
              href="/favourites"
              class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
              >Favourites</a
            >
          </li>

          <li>
            <a
              href="/bookings"
              class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
              >Bookings</a
            >
          </li>
        <% } else { %>
          <li>
            <a
              href="/host/add-home"
              class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
              >Add Home</a
            >
          </li>
          
          <li>
            <a
              href="/host/host-home-list"
              class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
              >Host Homes</a
            >
          </li>
        <% } %>
      <% } %>
    </ul>
    <ul>
      <% if(!isLoggedIn) { %>
        <li>
          <span>
            <a href="/login" class="bg-white text-red-500 font-medium hover:bg-red-500 hover:text-white p-2 px-3 rounded-md transition duration-300">Login</a>
          </span>
          <span>
            <a href="/signup" class="bg-white text-red-500 font-medium hover:bg-red-500 hover:text-white p-2 px-3 rounded-md transition duration-300">SignUp</a>
          </span>
        </li>
      <% } else { %>
        <form action="/logout" method="post">
          <button type="submit" class="bg-white text-red-500 font-medium hover:bg-red-500 hover:text-white p-2 px-3 rounded-md transition duration-300">Logout</a>
        </form>
      <% } %>
    </ul>
  </nav>
</header>